[submodule "RLJO/cl-canal2"]
	path = RLJO/cl-canal2
	url = git@github.com:RLJO/cl-canal2.git
	branch = 15.0

[submodule "RLJO/meli_oerp"]
	path = RLJO/meli_oerp
	url = git@github.com:RLJO/meli_oerp.git
	branch = 15.0

[submodule "RLJO/fishingModule"]
	path = RLJO/fishingModule
	url = git@github.com:RLJO/fishingModule.git
	branch = main

[submodule "RLJO/acsoluions"]
	path = RLJO/acsoluions
	url = git@github.com:RLJO/acsoluions.git
	branch = staging

[submodule "Jarsa/transport-management-system"]
	path = Jarsa/transport-management-system
	url = git@github.com:Jarsa/transport-management-system.git
	branch = 15.0

[submodule "cayoacosta/dassacadena15"]
	path = cayoacosta/dassacadena15
	url = git@github.com:cayoacosta/dassacadena15.git
	branch = main
